{% extends "layouts/default.twig" %}

{% block head %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ base_url() }}public/css/datatables/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}public/css/datatables/datatables.responsive.min.css">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}public/css/datatables/datatables.bs.min.css">
    
    <script type="text/javascript" charset="utf8" src="{{ base_url() }}public/js/datatables/datatables.min.js"></script>

    <script>
        $(document).ready(function(){
            $('#servicesTable').DataTable();
            $('[data-toggle="tooltip"]').tooltip(); 
        });
    </script>
{% endblock %}

{% block title %}Gestione Services{% endblock %}

{% block content_title %}Lista Services{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="text-right">
            <a href="{{ site_url("services/add") }}" class="btn btn-primary btn-lg"><i class="fa fa-lg fa-plus-square"></i> Aggiungi un Service</a>
        </div>
        <hr class="clearfix">
        <div class="panel panel-default">
            <div class="panel-heading">
                Lista dei services
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover" id="servicesTable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Public Key</th>
                            <th>Secret Key</th>
                            <th>Algoritmo</th>
                            <th>URL</th>
                            <th>Created</th>
                            <th>Last Edit</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                            <tr>
                                <td>{{ service.id }}</td>
                                <td>{{ service.name }} <i data-toggle="tooltip" class="fa fa-question-circle" title="{{ service.descrizione }}"></i></td>
                                <td><p class="text-ellipsis" data-toggle="tooltip" title="{{ service.pkey }}">{{ service.pkey }}</p></td>
                                <td><p class="text-ellipsis" data-toggle="tooltip" title="{{ service.skey }}">{{ service.skey }}</p></td>
                                <td>{{ service.alg }}</td>
                                <td>{{ service.url }}</td>
                                <td>{{ service.created }}</td>
                                <td>{{ service.last_update }}</td>
                                <td class="text-center">
                                    {% if service.active == 1 %}
                                        Sì
                                    {% else %}
                                        No
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}